<!DOCTYPE html>
<html lang="en">
  <head>
    {{!-- Required meta tags --}}
    <meta
      charset="utf-8"
    >
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    {{!-- Bootstrap CSS --}}
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/bootstrap.min.css"
    >
    {{!-- Custom CSS --}}
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/style.css"
    >
    <title>
      Beerista
    </title>
  </head>
  <body>
    {{!-- Bootstrap container --}}
    <div class="container-fluid">
      {{{ body }}}
    </div>
    {{!-- jQuery --}}
    <script
      src="/javascripts/jquery-3.3.1.min.js"
    ></script>
    {{!-- Bootstrap + Popper JS --}}
    <script
      src="/javascripts/bootstrap.bundle.min.js"
    ></script>
    {{!-- Custom JS --}}
    <script
      src="/javascripts/index.js"
    ></script>
  </body>
</html>